@model List<Yorum>
@{
    ViewBag.Title = "YorumListele";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



@section header{
    <link href="/Content/Admin/assets/advanced-datatable/media/css/demo_page.css" rel="stylesheet" />
    <link href="/Content/Admin/assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet" />
}
@if (TempData["tehlikeli"] != null)
{
    <div class="alert alert-danger">
        @TempData["tehlikeli"]
    </div>
}
@if (TempData["uyari"] != null)
{
    <div class="alert alert-success">
        @TempData["uyari"]
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Yorum Listesi
               
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <table class="display table table-bordered table-striped" id="example">
                        <thead>
                            <tr>
                                <th><i class="icon-adn"></i> Adı</th>
                                <th><i class="icon-food"></i> Neye yapıldı</th>
                                <th><i class="icon-info"></i> İçerik </th>
                                <th><i class="icon-calendar"></i> Tarih </th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var yorum in Model)
                            {
                                <tr>
                                    <td><a href="#">@yorum.ad</a></td>
                                    @if (yorum.icerik.Length <= 10)
                                    {
                                        <td><a href="#">@yorum.icerik</a></td>

                                    }
                                    else
                                    {
                                        <td><a href="#">@yorum.icerik.Substring(0, 10)</a></td>
                                    }
                                    @if (yorum.Blog != null)
                                    {
                                        <td>@yorum.Blog.baslik</td>
                                    }
                                    else
                                    {
                                        <td>@yorum.Yemek.ad</td>
                                    }
                                    <td>@yorum.tarih</td>
                                    <td class="center">
                                        @if (yorum.onaylimi == true)
                                        {
                                            <a href="/Yorumlar/YorumOnay/@yorum.yorumID" class="btn btn-success btn-xs"><i class="icon-check"></i></a>
                                        }
                                        else
                                        {
                                            <a href="/Yorumlar/YorumOnay/@yorum.yorumID" class="btn btn-danger btn-xs"><i class="icon-check"></i></a>
                                        }
                                        <a href="/Yorumlar/YorumDetay/@yorum.yorumID" class="btn btn-primary btn-xs"><i class="icon-align-left"></i></a>
                                        <a href="/Yorumlar/YorumSil/@yorum.yorumID" onclick="return confirm('Silmek istediğinizden emin misiniz ?')" class="btn btn-danger btn-xs"><i class="icon-trash "></i></a>
                                    </td>
                                </tr>


                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </section>
    </div>
</div>



@section footer{

    <script type="text/javascript" language="javascript" src="/Content/Admin/assets/advanced-datatable/media/js/jquery.dataTables.js"></script>



    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('#example').dataTable({
                "aaSorting": [[4, "desc"]],
                "oLanguage": {
                    "sSearch": "Ara:",
                    "sLengthMenu": "Getir _MENU_ kayıt",
                    "sInfo": "Göster _START_ den _END_ kadar _TOTAL_ madde",
                    "sEmptyTable": "Veri Bulunanadı",
                    "oPaginate": {
                        "sNext": "ileri",
                        "sPrevious": "Geri"
                    }
                },

            });
        });
    </script>
}

