@model Tarif
@{
    ViewBag.Title = "TarifEkle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    if (Model.siraNo == null)
    {
        Model.siraNo = 1;
    }
}


<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            <h2>Tarif Ekle</h2>

        </header>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                if (ViewData["Hata"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fa fa-ban"></i> Dikkat!</h5>
                        @ViewData["Hata"]
                    </div>
                }

                @Html.ValidationSummary()

                    <div class="row">
                        <div class="col-md-1">
                            <div class="form-group">

                                @Html.LabelFor(x => x.siraNo)
                                @Html.TextBoxFor(x => x.siraNo, new { @class = "form-control", placeholder = "Tarif adını giriniz",@value="" })
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="form-group">

                                @Html.LabelFor(x => x.aciklama)
                                @Html.TextBoxFor(x => x.aciklama, new { @class = "form-control", @placeholder = "Tarif Giriniz" })
                            </div>
                        </div>
                    </div>
            

                <button type="submit" class="btn btn-info pull-right ">Ekle</button>

            }
            <a class="btn btn-info" href="/Yemek/YemekDetay/@Model.yemekID">Detay Sayfasına Dön</a>

        </div>
    </section>
</div>
