@model List<Blog>
@{
    ViewBag.Title = "Bloglar";
    Layout = "~/Views/Shared/_LayoutKullanici.cshtml";
}

<div class="wrap clearfix">
    <!--breadcrumbs-->
    <nav class="breadcrumbs" style="margin-top:150px;">
        <ul>
            <li><a href="/Anasayfa/Home" title="Home">Anasayfa</a></li>
            <li>Bloglar</li>
        </ul>
    </nav>
    <!--//breadcrumbs-->
    <!--row-->
    <main class="main" role="main">
        <div class="row">
            <header class="s-title">
                <h1>Blog</h1>
            </header>

            <!--content-->
            <section class="content three-fourth">
                <!--blog entry-->
                @foreach (var blog in @Model)
                {
                    <article class="post">
                        <div class="entry-meta">
                            <div class="date">
                                <span class="day">@{DateTime d = (DateTime)@blog.tarih;} @d.Day</span>
                                <span class="my">@d.Month. @d.Year </span>
                            </div>
                            <div class="avatar">
                                <a href="#"><img src="/Content/Resimler/Kullanicilar/@blog.Kullanici.resim" alt="" /><span>@blog.Kullanici.ad @blog.Kullanici.soyad </span></a>
                            </div>
                        </div>
                        <div class="container">
                            <div class="entry-featured"><a href="#"><img style="width:288.68px;height:216.5px;" src="/Content/Resimler/Bloglar/@blog.resim" alt="" /></a></div>
                            <div class="entry-content">
                                <h2><a href="/Anasayfa/Blog/@blog.blogID">@blog.baslik</a></h2>
                                @if (@blog.icerik.Length > 175)
                                {
                                    <p>@blog.icerik.Substring(0, 175)...</p>
                                }
                                else
                                {
                                    <p>@blog.icerik</p>
                                }

                            </div>
                            <div class="actions">
                                <div>
                                    <div class="category"><i class="fa fa-tags"></i><a href="#">İp Uclari ve püf noktalar</a></div>
                                    <div class="comments"><i class="fa fa-comment"></i><a href="#">27</a></div>
                                    <div class="leave_comment"><a href="/Anasayfa/Blog/@blog.blogID">Yorum Bırak</a></div>
                                    <div class="more"><a href="/Anasayfa/Blog/@blog.blogID">Daha Fazlası</a></div>
                                </div>
                            </div>
                        </div>
                    </article>
                }


                <!--//blog entry-->

                @if (ViewBag.denetle != "aabb")
                {
                    <div class="quicklinks">
                        @if (ViewBag.denetle != "aa")
                        {<a href="/Anasayfa/Bloglar?q=gizle" class="button">Daha Fazla Blog</a>}
                        <a href="javascript:void(0)" class="button scroll-to-top">Yukari Çık</a>
                    </div>
                }
            </section>
            <!--//content-->
            <!--right sidebar-->
            <aside class="sidebar one-fourth">
                <div class="widget">
                    <ul class="categories right">
                        <li><a href="/Anasayfa/Bloglar">Tum Kateguriler</a></li>
                        @Html.Action("resimsizKategorilerBlog", "Anasayfa")
                    </ul>
                </div>
                <div class="widget">
                    <h3>Advertisment</h3>
                    <a href="#"><img src="/Content/social-chef/images/advertisment.jpg" alt="" /></a>
                </div>
            </aside>
            <!--//right sidebar-->
        </div>
    </main>
    
    <!--//row-->
</div>

