@model List<Yemek>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutKullanici.cshtml";
    YemekSitesi.HomeModel hm = (HomeModel)ViewBag.sayi;
    Random rastgele = new Random();
    int sayi = rastgele.Next(5);
}


<main class="main" role="main">
    <!--intro-->
    <div class="intro">
        <figure class="bg"><img src="/Content/social-chef/images/intro.jpg" alt="" /></figure>

        <!--wrap-->
        <div class="wrap clearfix">
            <!--row-->
            <div class="row">
                <article class="three-fourth text">
                    <h1>SocialChef'e Hoşgeldin!</h1>
                    <p> <strong>SocialChef </strong>yemek tariflerinin <strong>hayata geçtiği</strong>, sosyal bir yemek topluluğudur.</p>
                    <p> Harika ödüller kazanacak, yeni arkadaşlar edinecek ve lezzetli tarifleri paylaşacaksınız.</p>
                    <p>Bize katılarak bu topluluğun bir parçası olmak ister misin?</p>
                    <a href="/AnaSayfa/KayıtOl" class="button white more medium">Bize Katıl!<i class="fa fa-chevron-right"></i></a>
                    <p>Zaten Kayıtlı mısın?  Giriş yapmak için <a href="/Login/Index">tıkla</a></p>
                </article>

                <!--search recipes widget-->
                <div class="one-fourth">
                    <div class="widget container">
                        <div class="textwrap">
                            <h3>Tarif Ara!</h3>
                            <p>Tek yapmanız gereken, bir anahtar kelime girmek.</p>
                            <p>Ayrıca, açılır menüden belirli bir kategoriyi de seçebilirsiniz.</p>
                            <p>Eminiz aradığınızı bulacaksınız.</p>
                            <p>Keyfini çıkarın!</p>
                        </div>

                        @using (Html.BeginForm("Arama", "Anasayfa"))
                        {
                            <div class="f-row">
                                <input type="text" name="ad" placeholder="Aramak istedigin terimi gir" />
                            </div>

                            <div class="f-row bwrap">
                                <input type="submit" value="Aramaya Basla!" />
                            </div>
                        }

                    </div>
                </div>
                <!--//search recipes widget-->
            </div>
            <!--//row-->
        </div>
        <!--//wrap-->
    </div>
    <!--//intro-->
    <!--wrap-->
    <div class="wrap clearfix">
        <!--row-->
        <div class="row">
            <!--content-->
            <section class="content full-width">
                <div class="icons dynamic-numbers">
                    <header class="s-title">
                        <h2 class="ribbon large">Sayılarla SocialChef</h2>
                    </header>

                    <!--row-->
                    <div class="row">
                        <!--item-->
                        <div class="one-fourth">
                            <div class="container">
                                <i class="icon icon-themeenergy_chef-hat"></i>
                                <span class="title dynamic-number" data-dnumber="@hm.yemekSayisi">0</span>
                                <span class="subtitle">Tarif</span>
                            </div>
                        </div>
                        <!--//item-->
                        <!--item-->
                        <div class="one-fourth">
                            <div class="container">
                                <i class="icon icon-themeenergy_pan"></i>
                                <span class="title dynamic-number" data-dnumber="@hm.blogSayisi">0</span>
                                <span class="subtitle">Blog</span>
                            </div>
                        </div>
                        <!--//item-->
                        <!--item-->
                        <div class="one-fourth">
                            <div class="container">
                                <i class="icon icon-themeenergy_image"></i>
                                <span class="title dynamic-number" data-dnumber="@hm.kullaniciSayisi">0</span>
                                <span class="subtitle">Kullanici</span>
                            </div>
                        </div>
                        <!--//item-->
                        <!--item-->
                        <div class="one-fourth">
                            <div class="container">
                                <i class="icon icon-themeenergy_pencil"></i>
                                <span class="title dynamic-number" data-dnumber="@hm.yorumSayisi">0</span>
                                <span class="subtitle">Yorum</span>
                            </div>
                        </div>
                        <!--//item-->


                        <div class="cta">
                            <a href="/Anasayfa/KayıtOl" class="button big">Bize Katıl!</a>
                        </div>
                    </div>
                    <!--//row-->
                </div>
            </section>
            <!--//content-->
            <!--content-->
            <section class="content three-fourth">
                <!--cwrap-->
                <div class="cwrap">
                    <!--entries-->
                    <div class="entries row">
                        <!--featured recipe-->
                        <div class="featured two-third">
                            <header class="s-title">
                                <h2 class="ribbon">Günün Tarifi</h2>
                            </header>
                            <article class="entry">
                                <figure>
                                    <img  width="600" src="/Content/Resimler/Yemekler/@Model[sayi].resim" alt="" />
                                    <figcaption><a href="/Anasayfa/tarif/@Model[sayi].yemekID"><i class="icon icon-themeenergy_eye2"></i> <span>Görüntüle</span></a></figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="/Content/social-chef/recipe.html">@Model[sayi].ad</a></h2>
                                    @if (@Model[sayi].aciklama.Length > 170)
                                    {
                                        <p>@Model[sayi].aciklama.Substring(0, 170).. </p>
                                    }
                                    else
                                    {
                                        <p>@Model[sayi].aciklama </p>
                                    }

                                    <div class="actions">
                                        <div>
                                            <a href="/Anasayfa/TarifListele" class="button">Daha Fazlası</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!--//featured recipe-->
                        <!--featured member-->
                        <div class="featured one-third">
                            <header class="s-title">
                                <h2 class="ribbon star">Featured member</h2>
                            </header>
                            <article class="entry">
                                <figure>
                                    <img  src="~/Content/Resimler/Kullanicilar/@Model[sayi].Kullanici.resim" alt="@Model[sayi].Kullanici.ad" />
                                    <figcaption><a href="/Anasayfa/KullaniciArama/@Model[sayi].Kullanici.kullaniciID"><i class="icon icon-themeenergy_eye2"></i> <span>Gözat</span></a></figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="/Anasayfa/KullaniciArama/@Model[sayi].Kullanici.kullaniciID">@Model[sayi].Kullanici.ad @Model[sayi].Kullanici.soyad</a></h2>
                                    <blockquote><i class="fa fa-quote-left"></i>@Model[sayi].aciklama</blockquote>
                                    <div class="actions">
                                        <div>
                                            <a href="/Anasayfa/KullaniciArama/@Model[sayi].Kullanici.kullaniciID" class="button">Tariflerini Kontrol Et</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!--//featured member-->
                    </div>
                    <!--//entries-->
                </div>
                <!--//cwrap-->
                <!--cwrap-->
                <div class="cwrap">
                    <header class="s-title">
                        <h2 class="ribbon bright">Son Tarifler</h2>
                    </header>
                    <div class="entries row">
                        <!--entries-->
                        @foreach (var yemek in @Model)
                        {


                            <!--item-->
                            <div  class="entry one-third">
                                <figure>
                                    <img style="height:250px;" src="/Content/Resimler/Yemekler/@yemek.resim" alt="" />
                                    <figcaption><a href="/Anasayfa/Tarif/@yemek.yemekID"><i class="icon icon-themeenergy_eye2"></i> <span>Gözat</span></a></figcaption>
                                </figure>
                                <div class="container">
                                    @if (@yemek.aciklama.Length > 15)
                                    {
                                        <h2><a href="/Anasayfa/Tarif/@yemek.yemekID">@yemek.aciklama.Substring(0, 15)...</a></h2>
                                    }
                                    else
                                    {
                                        <h2><a href="/Anasayfa/Tarif/@yemek.yemekID">@yemek.aciklama</a></h2>
                                    }
                                    <div class="actions">
                                        <div>
                                            <div class="difficulty"><i class="ico i-medium"></i><a href="#">@yemek.ZorlukDerecesi.zorlukTanımı</a></div>
                                            <div class="likes"><i class="fa fa-heart"></i><a href="#">@yemek.Yorum.Count()</a></div>
                                            <div class="comments"><i class="fa fa-comment"></i><a href="recipe.html#comments">27</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="quicklinks">
                            <a href="/Anasayfa/TarifListele" class="button">Daha Fazla Tarif</a>
                            <a href="javascript:void(0)" class="button scroll-to-top">Yukari çık</a>
                        </div>
                    </div>
                    <!--//entries-->
                </div>
                <!--//cwrap-->
                <!--cwrap-->
                <div class="cwrap">
                    <header class="s-title">
                        <h2 class="ribbon bright">Bloglar</h2>
                    </header>
                    <!--entries-->
                    <div class="entries row">
                        @foreach (Blog blog in ViewBag.Blog)
                        {
                            <div class="entry one-third">
                                <figure>
                                    <img style="height:250px;" src="~/Content/Resimler/Bloglar/@blog.resim" alt="" />
                                    <figcaption><a href="/Anasayfa/Blog/@blog.blogID"><i class="icon icon-themeenergy_eye2"></i> <span>Gözat</span></a></figcaption>
                                </figure>

                                <div class="container">
                                    <h2><a href="/Anasayfa/Blog/@blog.blogID">@blog.baslik</a></h2>
                                    <div class="actions">
                                        <div>
                                            <div class="date"><i class="fa fa-calendar"></i><a href="#">@blog.tarih</a></div>

                                            @if (@blog.Yorum == null)
                                            {
                                                <div class="comments">
                                                    <i class="fa fa-comment"></i><a href="blog_single.html#comments">
                                                        0
                                                    </a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="comments">
                                                    <i class="fa fa-comment"></i><a href="blog_single.html#comments">
                                                        @blog.Yorum.Count()
                                                    </a>
                                                </div>
                                            }


                                        </div>
                                    </div>
                                    <div class="excerpt">
                                        @if (blog.aciklama.Length > 30)
                                        {
                                            <p>@blog.aciklama.Substring(0, 30)</p>
                                        }
                                        else
                                        {
                                            <p>@blog.aciklama</p> 
                                        }
                                    </div>
                                </div>
                            </div>

                        }
                        <br />
                        <div class="quicklinks">
                            <a href="/Anasayfa/Bloglar" class="button">Daha Fazla Blog</a>
                                <a href="javascript:void(0)" class="button scroll-to-top">Yukari çık</a>
                        </div>
                    </div>
                    <!--//entries-->
                </div>
                <!--//cwrap-->
            </section>
            <!--//content-->
            <!--right sidebar-->
            <aside class="sidebar one-fourth">
                <div class="widget">
                    <h3>Kategoriler</h3>
                    @Html.Action("Kategoriler", "Anasayfa")
                </div>
                <div class="widget members">
                    @Html.Action("KullaniciLar", "Anasayfa")
                </div>

                <div class="widget">
                    <h3>Advertisment</h3>
                    <a href="#"><img src="/Content/social-chef/images/advertisment.jpg" alt="" /></a>
                </div>
            </aside>
        </div>
        <!--//right sidebar-->
    </div>
    <!--//wrap-->
</main>
@section homeAlt{

    <section class="cta">
        <div class="wrap clearfix">
            <a href="/AnaSayfa/KayıtOl" class="button big white right">Kayıt Ol!</a>
            <h2>İkna oldun değil mi? Hadi Katıl Bize!</h2>
        </div>
    </section>
}