@model Iletisim
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_LayoutKullanici.cshtml";
}
@if (TempData["tehlikeli"] != null)
{
    <div class="alert alert-danger">
        @TempData["tehlikeli"]
    </div>
}
@if (TempData["uyari"] != null)
{
    <div class="alert alert-success">
        @TempData["uyari"]
    </div>
}
<main class="main" role="main">
    <!--wrap-->
    <div class="wrap clearfix">
        <!--row-->
        <div class="row" style="margin-top:100px;">
            <!--content-->
            <section class="content center full-width">
                <div class="modal container">

                    <h3>iletisime Geç</h3>
                    @Html.ValidationSummary()
                    @if (ViewBag.Sonuc != null)
                    {
                    <div id="message" class="alert alert-info">@ViewBag.Sonuc</div>
                    }

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <div class="f-row">
                            <input type="text" placeholder="İsim" name="isim" required>
                        </div>
                        <div class="f-row">
                            <input type="email" placeholder="E-posta" name="eposta" required>
                        </div>
                        <div class="f-row">
                            <input type="number" placeholder="Telefon" name="telefon" >
                        </div>
                        <div class="f-row">
                            <textarea placeholder="İleti" name="icerik" required></textarea>
                        </div>
                        <div class="f-row bwrap">
                            <input type="submit" value="Gönder">

                        </div>
                    }

                </div>
            </section>
            <!--//content-->
        </div>
        <!--//row-->
    </div>
    <!--//wrap-->
</main>