@model Yemek
@{
    ViewBag.Title = "Tarif";
    Layout = "~/Views/Shared/_LayoutKullanici.cshtml";
}

<main class="main" role="main">
    <!--wrap-->
    <div class="wrap clearfix">
        <!--breadcrumbs-->
        <nav class="breadcrumbs" style="margin-top:150px;">
            <ul>
                <li><a href="/Anasayfa/Home" title="Home">Anasayfa</a></li>
                <li><a href="/Anasayfa/TarifListele" title="Recipes">Tarifler</a></li>
                <li>@Model.ad</li>
            </ul>
        </nav>
        @if (TempData["tehlikeli"] != null)
        {
            <div class="alert alert-danger">
                @TempData["tehlikeli"]
            </div>
        }
        @if (TempData["uyari"] != null)
        {
            <div class="alert alert-success">
                @TempData["uyari"]
            </div>
        }
        <!--//breadcrumbs-->
        <!--row-->
        <div class="row">
            <header class="s-title">
                <h1>@Model.ad</h1>
            </header>
            <!--content-->
            <section class="content three-fourth">
                <!--recipe-->
                <div class="recipe">
                    <div class="row">
                        <!--two-third-->
                        <article class="two-third">
                            <div class="image"><a href="#"><img width="600px;" src="/Content/Resimler/Yemekler/@Model.resim" alt="@Model.resim" /></a></div>
                            <div class="intro"><p><strong>@Model.aciklama</strong></p> </div>
                            <div class="instructions">
                                <ol>
                                    @foreach (var tarif in Model.Tarif)
                                    {

                                        <li>@tarif.aciklama</li>
                                    }

                                </ol>
                            </div>
                        </article>
                        <!--//two-third-->
                        <!--one-third-->
                        <article class="one-third">
                            <dl class="basic">
                                <dt>Pisirme Süresi</dt>
                                <dd>@Model.pisirmeSuresi</dd>
                                <dt>Zorluk</dt>
                                <dd>@Model.ZorlukDerecesi.zorlukTanımı</dd>
                                <dt>Kaç kisilik</dt>
                                <dd>@Model.kacKisilik</dd>
                            </dl>

                            <dl class="user">
                                <dt>Kategorisi</dt>
                                <dd>@Model.Kategori.kategoriAdi</dd>
                                <dt>Yayınlayan</dt>
                                <dd>@Model.Kullanici.ad @Model.Kullanici.soyad</dd>
                            </dl>

                            <dl class="ingredients">
                                @foreach (var mazeme in @Model.Mazeme)
                                {
                                    <dt>@mazeme.miktar @mazeme.birim</dt>
                                    <dd>@mazeme.mazemeAdi</dd>
                                }


                            </dl>
                        </article>
                        <!--//one-third-->
                    </div>
                </div>
                <!--//recipe-->
                <!--comments-->
                @if (@Model.Yorum != null)
                {
                    <div class="comments" id="comments">
                        <h2>Yorum Sayısı @Model.Yorum.Where(x => x.onaylimi == true).Count() </h2>
                        @foreach (var yorum in Model.Yorum)
                        {
                            if (yorum.onaylimi == true)
                            {
                                <ol class="comment-list">
                                    <!--comment-->
                                    <li class="comment depth-1">

                                        <div class="comment-box">
                                            <div class="comment-author meta">
                                                <strong>@yorum.ad @yorum.soyad</strong>  <a href="#" class="comment-reply-link"> @yorum.tarih</a>
                                            </div>
                                            <div class="comment-text">
                                                <p>@yorum.icerik</p>
                                            </div>
                                        </div>
                                    </li>
                                    <!--//comment-->
                                </ol>
                            }
                        }
                    </div>
                }
                <!--//comments-->
                <!--respond-->
                <div class="comment-respond" id="respond">
                    <h2>Leave a reply</h2>
                    <div class="container">
                        <p><strong>Not:</strong> Bloglarda yer alan bilgiler yazarlarının görüşlerini yansıtmaktadır. Lütfen hakaret, küfür ve kaba ifadeler kullanmayın.</p>
                        <p>Bildiride bulunmadan herhangi bir yorumu silme hakkımızı korumaktayız. <span class="req">*</span></p>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="f-row">
                                <div class="third">
                                    <input type="text" name="ad" placeholder="İsminizi  giriniz" required />
                                    <span class="req">*</span>
                                </div>
                                <div class="third">
                                    <input type="text" name="soyad" placeholder="Soyadınızı  giriniz" required />
                                    <span class="req">*</span>
                                </div>
                            </div>
                            <div class="f-row">
                                <textarea name="icerik" required></textarea>
                            </div>

                            <div>
                                <div class="third bwrap">
                                    <button name="id" val type="submit" value="@Model.yemekID">Ekle</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!--//respond-->
            </section>
            <!--//content-->
            <!--right sidebar-->
            <aside class="sidebar one-fourth">
                <div class="widget nutrition">
                    <h3>Nutrition facts <span>(per serving)</span></h3>
                    <table>
                        @foreach (var bd in Model.BesinDegerleri)
                        {
                            <tr>
                                <td>@bd.besinAdi </td>
                                <td>@bd.deger</td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="widget share">
                    <ul class="boxed">
                        <li class="light"><a href="#" title="Facebook"><i class="fa fa-facebook"></i> <span>Share on Facebook</span></a></li>
                        <li class="medium"><a href="#" title="Twitter"><i class="fa fa-twitter"></i> <span>Share on Twitter</span></a></li>
                        <li class="dark"><a href="#" title="Favourites"><i class="fa fa-heart"></i> <span>Add to Favourites</span></a></li>
                    </ul>
                </div>
                <div class="widget members">
                    @Html.Action("KullaniciLar", "Anasayfa")
                </div>
            </aside>
            <!--//right sidebar-->
        </div>
        <!--//row-->
    </div>
    <!--//wrap-->
</main>

